<div class="center-items col-category">
    <div class="space-category-details">
    </div>
</div>
<div class="center-items centered-category">
    <h2 class="title-frame">
        {{totalGlobal }} {{ titlesList[0]}}
    </h2>
    <span class="bakery-frame-color small-text">
        {{totalPerSecond}} {{ titlesList[1]}}
    </span>
    <div class="center-items">
        <a>
            <img class="bread-clicker" [src]="breadClicker[0]" [alt]="breadClicker[1]" />
        </a>
    </div>
    <div class="center-items bonus-shop-frame">
    </div>
</div>
<div class="center-items col-category">
</div>