<div class="center-items col-category">
    <div class="space-category-details" *ngFor="let category of descCategories">
        <h3>{{category.name}}</h3>
        <p>Nombre : {{category.total}}</p>
        <p>Production : {{category.eachSecond | pluralize:'pain par seconde':titlesList[1]}} <!-- {{titlesList[1]}}</p> -->
    </div>
</div>
<div class="center-items centered-category">
    <h2 class="title-frame">
        <!-- 
            L'ajout du pipe number à coté de pluralize ne fonctionnait pas pour afficher 
            la virgule qui sépare le chiffre des centaines et le chiffre des milliers.
            J'ai du ajuster le format du nombre avec toLocaleString dans le fichier pluralize.pipe.ts.
        -->
        {{totalGlobal | pluralize:'pain':titlesList[0]}}  <!-- {{ titlesList[0]}} -->
    </h2>
    <span class="bakery-frame-color small-text" *ngIf="true">
        {{totalPerSecond | pluralize:'pain par seconde':titlesList[1]}} <!-- {{ titlesList[1]}} -->
    </span>
    <div class="center-items">
        <a (click)="onClickBread()">
            <img class="bread-clicker" [src]="breadClicker[0]" [alt]="breadClicker[1]" />
        </a>
    </div>
    <div class="center-items bonus-shop-frame">
    </div>
</div>
<div class="center-items col-category">
    <button [disabled]="type.inactive" (click)="buyItem(type.id)" *ngFor="let type of categories">{{type.name}}</button>
</div>